<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900  p-10 text-white relative" >
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl mb-3 tracking-tighter">Update User</h1>
        <form action="/update<%=user._id%>">
            
            <input class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none " type="text" name="name" placeholder="name " value="<%=user.name%>">
            <input class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none " type="text" name="email" placeholder="email " value="<%=user.email%>">
            <input class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none " type="text" name="image" placeholder="image url " value="<%=user.image%>">
            <input type="submit" value="Update User" class="px-5 py-2 bg-yellow-500 text-black rounded-lg ml-3">
        </form>
    </div>
</body>
</html>